@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  box-sizing: border-box;
  width: 940px;
  background-color: #eff3f4;
  margin: 0 auto;
  padding: 20px;
}

.text {
  word-break: break-all;
  font-size: 18px;
  line-height: 22px;
}

.image_left {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.image_right {
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}

/* 回答はここに書いてね */
