@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.q1__content {
  background-color: #eff3f4;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  width: 940px;
}

.text_container {
  box-sizing: border-box;
  background-color: #3274ae;
  width: 270px;
  float: left;
  padding: 20px;
  margin-left: 20px;
}
.text_container:first-child {
  margin-left: 0;
}

.text {
  box-sizing: border-box;
  background-color: #eaf4ff;
  border: 10px solid #022336;
  padding: 20px;
  width: 230px;
  float: left;
}
/* 回答はここに書いてね */
