@charset "UTF-8";

/* 回答はここに書いてね */
.transition__container {
  overflow: hidden;
  width: 500px;
  height: 333px;
  margin: auto;
  position: relative;
}
.transition__container:hover .car_image {
  transition: 0.5s;
  transform: scale(1.5);
}
.transition__container:hover .trans__box {
  transition: 0.5s;
  transform: translateY(-100%);
}

.trans__box {
  /* width: 500px;
  height: 333px; */
  /* margin: auto; */
  background: linear-gradient(to top, rgba(15, 15, 15, 0.5), rgba(255, 255, 255,0));
  position: absolute;
  top: 100%;
}
.trans__text {
  box-sizing: border-box;
  color: white;
  height: 333px;
  padding: 20px;
  text-align: end;
  width: 500px;
  word-break: break-all;
  z-index: 2;
}

.circle {
  border: solid 10px #ecf1f2;
  border-top: solid 10px #00bcd4;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: auto;
  animation-name: animation-lotation;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes animation-lotation {
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
/* 回答はここに書いてね */
