@charset "UTF-8";

/* 回答はここに書いてね */
.transition__container {
  overflow: hidden;
  width: 500px;
  height: 333px;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.car_image,.trans__box {
  transition: 0.5s;
}

.transition__container:hover .car_image {
  transform: scale(1.5);
}

.transition__container:hover .trans__box {
  transform: translateY(-100%);
}

.trans__box {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(15, 15, 15, 0.8), rgba(255, 255, 255,0));
}

.trans__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  padding: 20px;
  word-break: break-all;
}

.circle {
  border: solid 10px #ecf1f2;
  border-top: solid 10px #00bcd4;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: auto;
  animation: animation-lotation 1s linear infinite;
}

@keyframes animation-lotation {
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
/* 回答はここに書いてね */
