@charset "UTF-8";

/* 回答はここに書いてね */

.car-image {
  position: relative;
  width: 500px;
  height: 333px;
  margin: auto;
  /* overflow: hidden; */
}

.car-image-touch:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.q9__box__text {
  position: absolute;
  bottom: 0px;
  font-size: 16px;
  line-height: 16px;
  word-break: break-all;
  padding: 20px;
  color: #fff;
  background: rgba(0,0,0,0.8);
}

.car-image-touch:hover .q9__box__text{
  transform: scale(1.5);
  transition-duration: 0.5s;
}

/* 回答はここに書いてね */
