@charset "UTF-8";

/* 回答はここに書いてね */
.menu_table {
  table-layout: fixed;
  width: 100%;
}

.menu_table th {
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.menu_table tr:nth-child(even) {
  background-color: #ecf1f2;
}

.menu_footer {
  border-top: dashed #000 2px;
}

.menu_table td,.menu_table th {
  padding: 10px;
  text-align: center;
  border: solid #dedede 1px;
}
/* 回答はここに書いてね */
